* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
#root {
  overflow: hidden;
}

/*============================== header css==================== */
.menu {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: rgb(144, 218, 228);
}
.logo {
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
}
.logo-img {
  width: 5rem;
  height: 5rem;
  margin: 0 2rem;
  border-radius: 50%;
}
.bank-name {
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
}
.menu-bar {
  position: absolute;
  top: 3.4vh;
  right: 5rem;
  overflow: hidden;
  z-index: 9;
}
.menu-btn {
  font-size: 2.5rem;
  outline: none;
  border: none;
  background-color: rgb(144, 218, 228);
}
.menu-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 24rem;
  list-style: none;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(144, 218, 228);
  transition: all 0.5s linear;
  opacity: 0;
}
.menu-list ul {
  list-style: none;
}

.active {
  transition: all 0.5s linear;
  opacity: 1;
  z-index: 99;
}

.menu-list li,
.active li {
  margin: 2rem 0 0 2rem;
}

.menu-link {
  color: white;
  margin: 5rem 0 0 2rem;
  text-decoration: none;
}

.close-btn {
  font-size: 2rem;
  border: none;
  margin-left: 1rem;
  background-color: rgb(144, 218, 228);
}

/* ======================home page css================================== */
.center-div {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  justify-content: space-around;
}
.btn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 0.2rem solid rgb(7, 214, 242);
  background-color: rgb(198, 238, 243);
}
.btn a {
  text-decoration: none;
  color: black;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.customer {
  max-width: 50rem;
  max-height: 60vh;
  animation: motion 4s infinite linear;
}
@keyframes motion {
  0% {
    translate: 0rem 0rem;
  }
  50% {
    translate: 0rem 4rem;
  }
  100% {
    translate: 0rem 0rem;
  }
}

/*============================== customer page css============================================== */
.section {
  width: 100%;
  height: 90vh;
  position: absolute;
}
.table-div {
  width: 90%;
  margin: auto;
}
.pera {
  font-size: 1.8rem;
}
.table-div table {
  width: 100%;
  font-size: 2rem;
}
.heading {
  margin: 5rem 0;
  text-align: center;
  font-size: 2.8rem;
}

/*================ popup card=================== */
.popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: display 0.5s linear;
}
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card {
  border-radius: 2rem;
  width: 50rem;
  background-color: white;
  height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.close-popup {
  position: absolute;
  display: grid;
  align-items: center;
  top: 1.5rem;
  right: 2rem;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.4rem black;
}
label {
  font-weight: 800;
}

/*========================= money transfer page css======================= */

form {
  width: 60%;
  margin: auto;
}
.input-filds {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}
.forms-input {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }
  .center-div {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 43.75%;
  }
  .table-div table {
    font-size: 1.4rem;
  }
  .table-div {
    width: 95%;
    margin: auto;
  }
  .customer {
    max-width: 45rem;
  }
}
